.jk-rating-stars-container {

  .button {
    cursor: pointer;

    .material-icons {
      font-size: 30px;
    }

    &.star-on {

      .material-icons {
        color: #EE9A00;
      }
    }

    &.star-off {

      .material-icons {
        color: #5d5d5d;
      }
    }
  }

  .star-button {
    text-shadow: 0.06em .04em #000000;
  }
}

.jk-rating-stars-container[read-only="true"] {
  .button {
    cursor: default;
  }
}